/* .about{
    /* background-color: antiquewhite; */
    /* background-image: url('../../../public/images/img-9.jpg');
    color: aliceblue;
 }  */
 .card{
     text-align: center;
     margin-top: 1px;
     /* background-image: url('../../../public/images/img-9.jpg'); */
 }